/* TSOS.css */

body {
  background:  url(distrib/images/GoldenEye_-_Gun_Barrel.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;;
  font-family: Helvetica, Verdana, Arial, sans-serif;
  font-size: 12pt;
  font-weight: normal;
  font-style: normal;
}

h1 {
  color: black;
  font-size: 24pt;
  font-weight: normal;
  font-style: normal;
  border-bottom: 1px solid black;
}

h2 {
  color: black;
  font-size: 20pt;
  font-weight: normal;
  font-style: normal;
}

h3 {
  font-family: Helvetica, Verdana, Arial, sans-serif;
  font-size: 16pt;
  font-weight: normal;
  font-style: normal;
}

#display {
  background-color:#DFDBC3;
  border: 2px solid red;
  cursor: default;
}
.dash{
  float: left;
  overflow-x:hidden;
  overflow-y:auto;
  width: 400px;
  height: 250px;

}

/*
#coreMemoryTable{
  overflow-x: hidden;
  overflow-y: auto;
  background-color: white;
  color: black;
  border:1px solid blue;


}
*/


#cpuTable{
  border:1px solid green;
  width: 200px;
  height: 75px;


}

.normal_button {
  width: 100px;
}

.footerText {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 8pt;
  text-align: center;
}

#coreMemory{
  overflow-x: hidden;
  overflow-y: auto;
  height:250px;
  width: 400px;"

}
